[tool.poetry]
name = "qibocal"
version = "0.0.3"
description = ""
authors = ["andrea-pasquale <andreapasquale97@gmail.com>"]
license = "Apache License 2.0"
readme = "README.md"
homepage = ""
repository = "https://github.com/qiboteam/qibocal/"
documentation = ""
keywords = []
classifiers = [
  "Programming Language :: Python :: 3",
  "Topic :: Scientific/Engineering :: Physics",
]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
qibolab = { git = "https://github.com/qiboteam/qibolab.git", branch = "main" }
qibo = "^0.1.9"
pandas = "^1.4.3"
Pint-Pandas = "^0.3"
dash = "^2.6.0"
lmfit = "^1.0.3"
# docs dependencies (for readthedocs, https://github.com/readthedocs/readthedocs.org/issues/4912#issuecomment-664002569)
Sphinx = { version = "^5.0.0", optional = true }
furo = { version = "^2023.3.27", optional = true }
sphinxcontrib-bibtex = { version = "^2.4.1", optional = true }
recommonmark = { version = "^0.7.1", optional = true }
sphinx_markdown_tables = { version = "^0.0.17", optional = true }
scikit-learn = { version = "^1.2.1", optional = true}
keras-tuner = { version = "^1.3.0,<1.3.1", optional = true, markers = "sys_platform == 'linux' or sys_platform == 'darwin'"}
matplotlib = { version = "^3.7.0", optional = true }
seaborn = { version = "^0.12.2", optional = true }
networkx = "^3.0"
pydantic = "^1.10.5"
pydot = { version = "^1.4.2", optional = true }
tensorflow = { version = "^2.12.0", optional = true, markers = "sys_platform == 'linux' or sys_platform == 'darwin'"}
# TODO: the marker is a temporary solution due to the lack of the tensorflow-io 0.32.0's wheels for Windows, this package is one of
# the tensorflow requirements
skl2onnx = { version = "^1.14.0", optional = true }
skops = { version = "^0.6.0", optional = true }
onnxruntime = { version = "^1.14.1", optional = true }
onnx = {version = "^1.13.1", optional = true }
pint = "^0.20.1" # The new version of pint (0.21) is incompatible with Pint-Pandas
setuptools = "^67.8.0"


[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pylint = "^2.17"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
Sphinx = "^5.0.0"
furo = "^2023.3.27"
sphinxcontrib-bibtex = "^2.4.1"
recommonmark = "^0.7.1"
sphinx_markdown_tables = "^0.0.17"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pdbpp = "^0.10.3"
ipython = "^8.0"
devtools = "^0.10.0"

[tool.poetry.extras]

classify = ["scikit-learn", "tensorflow", "keras-tuner", "matplotlib", "seaborn", "skl2onnx", "skops", "onnxruntime", "onnx"]
docs = [
  "sphinx",
  "furo",
  "sphinxcontrib-bibtex",
  "recommonmark",
  "sphinx_markdown_tables",
]
viz = ["pydot"]

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
qq = "qibocal:command"
qq-live = "qibocal:live_plot"
qq-upload = "qibocal:upload"
qq-compare = "qibocal:compare"
qq-auto = "qibocal:autocalibration"

[tool.poe.tasks]
test = "pytest"
lint = "pylint src/**/*.py -E"
lint-warnings = "pylint src/**/*.py --exit-zero"
docs = "make -C doc html"
docs-clean = "make -C doc clean"
test-docs = "make -C doc doctest"

[tool.pytest.ini_options]
testpaths = ['tests/']
addopts = ['--cov=qibocal', '--cov-report=xml', '--cov-report=html']

[tool.pylint.master]
# extensions not to check
extension-pkg-whitelist = ["numpy"]
jobs = 1

[tool.pylint.messages_control]
disable = ["invalid-name", "fixme"]

[tool.pylint.reports]
# Available formats are:
# text, parseable, colorized, json and msvs (visual studio).
output-format = "colorized"

[tool.pylint.format]
# Maximum number of characters on a single line.
max-line-length = 100

[tool.pylint.design]
# Maximum number of arguments for function / method
max-args = 10
