/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-item.active {
  background-color: #6600ff1c;
  border-color: #6600ff1c;
}

.list-group-item {
  background-color: inherit;
  border-width: 0; /* Use 0 instead of 0px for brevity */
}

/*
 * Navbar
 */
.navbar {
  background-color: #6400ff; /* Consistent use of lowercase hex */
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navbar .navbar-toggler {
  right: 1rem;
}

/*
 * Sidebar button menu
 */
.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #6600ff1c;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #6600ff1c;
}

/*
 * Table specific styles
 */
.table-fixed-width {
  table-layout: fixed;
  width: 100%;
  /* Remove all borders from the table */
  border: none;
}

.table-fixed-width th,
.table-fixed-width td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Remove horizontal borders from cells */
  border-top: none;
  border-bottom: none;
}

/* If you also want to remove vertical borders between columns */
.table-fixed-width th,
.table-fixed-width td {
  border-left: none;
  border-right: none;
}

/* You might want to keep the bottom border for the table header for separation */
.table-fixed-width thead th {
  border-bottom: 1px solid #dee2e6; /* Adjust color as needed, this is Bootstrap's default border color */
}
