.fitting-table
{
  width: 30%;
  border-collapse: collapse;
  text-align: center;
  margin-left: 15px;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  border-radius: 15px;
}

.div-fitting
  {
    margin: 0 0 0 -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-family: Verdana;
    font-size: 0.8em;
  }
