<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if path %}
    <title>{{ path }}</title>
    {% else %}
    <title>QCVV Home</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="/_favicon.ico?v=2.6.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    {% if is_static %}
    <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
    <!-- Reading the plotly js library from online to save space (not the latest version) -->
    <!-- This is required for the report plots to remain interactive -->
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {{ css_styles }}
    {% else %}
    <link rel="stylesheet" href="/static/styles.css">
    {% endif %}
  </head>
  <body>

<!-- top bar -->
<header class="navbar fixed-top navbar-dark sticky-top p-0 shadow">
  <a class="navbar-nav nav-item nav-link px-3" href="https://github.com/qiboteam/qcvv" target="_blank"><h6>qcvv {{ version }}</h6></a>
  <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
    {% if not is_static %}
    <li class="nav-item col-6 col-lg-auto"><a href="/" class="nav-link"><h6>Home</h6></a></li>
    {% endif %}
    <li class="nav-item col-6 col-lg-auto px-3"><a href="https://github.com/qiboteam/qcvv" class="nav-link"><h6>GitHub</h6></a></li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">

    <!-- side bar -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        {% if path %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Index</span>
        </h6>
        <div class="list-group list-group-root">
          <a class="list-group-item list-group-item-action list-group-item-light" href="#summary">
            Summary
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light" href="#actions">
            Actions
          </a>
          <!-- actions submenu -->
          <div class="list-group">
            {% for routine in runcard.get('actions').keys() %}
            <a class="list-group-item list-group-item-action list-group-item-light" href="#{{ routine }}">{{ routine.replace("_", " ").title() }}</a>
            <!-- plots submenu -->
              <div class="list-group">
                {% for header, method in plotters.get(routine).items() %}
                <a class="list-group-item list-group-item-action list-group-item-light" href="#{{ routine }}-{{ method }}">{{ header }}</a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <!-- saved reports menu -->
        {% if not is_static %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Saved reports</span>
        </h6>
        <div class="list-group list-group-root">
          {% for folder in folders %}
          <a class="list-group-item list-group-item-action list-group-item-light {{ ' active' if folder == path else '' }}" href="{{ url_for('page', path=folder) }}">
            {{ folder }}
          </a>
          {% endfor %}
        {% endif %}
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <br>
      {% if path %}
      <h1>{{ path }}</h1>
      <br>
      <div id="summary">
        <h2>Summary</h2>
        <h5>Run date: {{ metadata.get('date') }}</h5>
        <table class="table table-hover" style="width:20%">
          <thead>
            <tr>
              <th>Library</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {% for library, version in metadata.get('versions').items() %}
            <tr>
              <th>{{ library }}</th>
              <th>{{ version }}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br>

      <div id="actions">
        <h2>Actions</h2>
        {% for routine in runcard.get('actions').keys() %}
        <div id="{{ routine }}">
          <h3>{{ routine.replace("_", " ").title() }}</h3>
          {% for header, method in plotters.get(routine).items() %}
          <div id="{{ routine }}-{{ method }}">
            <h4>{{ header }}</h4>
            {% if is_static %}
              {{ figures.get(routine).get(method) }}
            {% else %}
            <iframe src="/dash/{{ path }}/data/{{ routine }}/{{ method }}/{{ runcard.get('format') }}" style="position: relative; height: 500px; width: 100%;"></iframe>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

      {% else %}
      <h2>Please select a report from the list on the left.</h2>
      {% endif %}

    </main>

  </div>
</div>
</body>
</html>
