name: Tests

on: push

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9, '3.10']
    uses: qiboteam/workflows/.github/workflows/rules-poetry.yml@migration
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      doctests: true 
    secrets: inherit
